# 다음 문제를 풀이하시오

### Q1. Pandas, statsmodels 모듈을 불러오시오.

In [9]:
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

### Q2. "diabetes.csv" 파일을 읽어와서 df 객체에 저장하시오.

In [2]:
df = pd.read_csv("../data/diabetes.csv")
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Q3. 혈압이 30 이하인 측정 데이터는 모두 제거하여 df_up30 에 저장하시오

In [3]:
df_up30 = df.loc[df["BloodPressure"] > 30, :].copy().reset_index(drop=True)
df_up30

# df_up30_2 = df.drop(df[df["BloodPressure"] <= 30].index, axis=0).copy().reset_index(drop=True)
# df_up30_2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
725,10,101,76,48,180,32.9,0.171,63,0
726,2,122,70,27,0,36.8,0.340,27,0
727,5,121,72,23,112,26.2,0.245,30,0
728,1,126,60,0,0,30.1,0.349,47,1
729,1,93,70,31,0,30.4,0.315,23,0

### Q4. 나이를 10살 단위로 구분한 "Age_group" 변수를 만드시오
※ 예시: 7 => 0, 30 => 3, 45 => 4

In [4]:
# df_up30["Age_group"] = df_up30["Age"].apply(lambda x: x // 10)
df_up30["Age_group"] = df_up30["Age"] // 10
df_up30

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_group
0,6,148,72,35,0,33.6,0.627,50,1,5
1,1,85,66,29,0,26.6,0.351,31,0,3
2,8,183,64,0,0,23.3,0.672,32,1,3
3,1,89,66,23,94,28.1,0.167,21,0,2
4,0,137,40,35,168,43.1,2.288,33,1,3
...,...,...,...,...,...,...,...,...,...,...
725,10,101,76,48,180,32.9,0.171,63,0,6
726,2,122,70,27,0,36.8,0.340,27,0,2
727,5,121,72,23,112,26.2,0.245,30,0,3
728,1,126,60,0,0,30.1,0.349,47,1,4
729,1,93,70,31,0,30.4,0.315,23,0,2

### Q5. 연령대별 혈당(Glucose)의 차이가 있는지 일원분산분석을 실시하고 그 결과를 확인하시오.

In [7]:
# lm = ols("Glucose ~ Age_group", df).fit()
lm = ols("Glucose ~ C(Age_group)", df_up30).fit()
anova_lm(lm)

                 df         sum_sq      mean_sq         F        PR(>F)
C(Age_group)    6.0   52928.359153  8821.393192  9.077008  1.378338e-09
Residual      723.0  702639.838107   971.839333       NaN           NaN

### Q6. 일원분산분석의 사후검정을 실시하시오. 단, Tukey's HSD 를 실시

In [8]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

posthoc = pairwise_tukeyhsd(df_up30["Glucose"], df_up30["Age_group"])
print(posthoc)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
group1 group2 meandiff p-adj    lower    upper   reject
-------------------------------------------------------
     2      3  11.3157  0.003    2.5109  20.1205   True
     2      4   9.9301 0.0485    0.0358  19.8244   True
     2      5  26.1577  0.001    13.052  39.2634   True
     2      6  24.7046  0.001    6.9377  42.4715   True
     2      7   30.877    0.9   -61.417  123.171  False
     2      8   19.877    0.9   -72.417  112.171  False
     3      4  -1.3856    0.9   -12.787  10.0157  False
     3      5   14.842 0.0356    0.5643  29.1197   True
     3      6  13.3889 0.3404   -5.2594  32.0371  False
     3      7  19.5613    0.9  -72.9064  112.029  False
     3      8   8.5613    0.9  -83.9064  101.029  False
     4      5  16.2276 0.0238    1.2535  31.2017   True
     4      6  14.7745 0.2566   -4.4122  33.9612  False
     4      7  20.9469    0.9  -71.6309 113.5247  False
     4      8   9.9469    0.9  -82.6309 102.5247  False
     5      6  -1.4531    0.9  -22.4767  19.5705  False
     5      7   4.7193    0.9  -88.2566  97.6952  False
     5      8  -6.2807    0.9  -99.2566  86.6952  False
     6      7   6.1724    0.9  -87.5741   99.919  False
     6      8  -4.8276    0.9  -98.5741   88.919  False
     7      8    -11.0    0.9 -141.3493 119.3493  False
-------------------------------------------------------